# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/

# Database
db.sqlite3
*.sqlite3

# Logs
*.log

# IDE
.vscode/
.idea/

# Testing/Coverage
.pytest_cache/
.coverage
htmlcov/
